body {
	font-family: 'Montserrat', sans-serif!important;
	/*font-family: 'Merriweather', serif;*/
	scroll-behavior: smooth!important;	
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	padding-left: 0px!important;
	padding-right: 0px!important;
	margin-left: 0px!important; 
	margin-right: 0px!important; 
	margin-top: 0px!important; 
	margin-bottom: 0px!important;
}

	/* per mettere i bordini bianchi a dx e sx */
	.morepadding {
		padding-left: 3em; 
		padding-right: 3em;
	}

	.indexmorepadding {
		padding-left: 4em; 
		padding-right: 3em;
	}
	/*/*/

header {
	background-color: #070707; 
	margin: 0px auto; 
	text-align: center!important;
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	padding-left: 0px!important;
	padding-right: 0px!important;
	margin-left: 0px!important; 
	margin-right: 0px!important; 
	margin-top: 0px!important; 
	margin-bottom: 0px!important;
}

	/* posizione delle icone in header */
	.icononblack {
		height: 90px;
		width: auto;
		position: absolute;
		top: 40px!important;
	}
	/*/*/

h1 {
	font-family: 'Merriweather', serif!important;
	text-align: center; 
	margin: 0px auto;
	color: black; 
	text-shadow: -1px 0 #B7CADB, 0 1px #B7CADB, 1px 0 #B7CADB, 0 -1px #B7CADB;
	/* white-space: nowrap; per non far andare a capo il titolo stringendo la pagina*/
}

	/* titolo header */
	.titlename {
		font-family: 'Merriweather', serif!important;
		font-size: 25px!important;
	}
	/*/*/

	/* titolo header pagine secondarie */
	.h1small {
		text-align: center!important;
		font-size: 2em;
		padding-left: 3em; 
		padding-right: 3em;		
	}
	/*/*/

/* tutto ciò che sta sotto l'header */
main {
	text-align: center; 
	line-height: 1em;
	font-size: medium;
	padding-top: 0em!important;
	}

	/* barra di navigazione  */
	.navigazionenav {
		background-color: #B7CADB;
		padding-top: 0em!important;
		margin-top: 0em!important;
	}

	nav ul {
		list-style-type: none;
		font-size: 15px;
		margin-top: 0px!important; 
		/*^^SE STAI PIANGENDO, E' QUESTO CHE MANCA^^*/
		margin-left: 0px !important;
		padding-left: 0px;
		border-top: 0px;}

	nav ul li {
		display: inline-block;
		padding: 15px; 
		border-top-left-radius: 10px; 
		border-top-right-radius: 10px;}
	/*/*/
/*/*/




/* INDEX.HTML */

.imgtitoloindex {
	max-width: 22em;
	max-height: auto;
}

	/* per mettere h1 sopra imgindex */
	.container {
		position: relative; 
		text-align: center; 
		color: white;
	}

	.titleonimage {
		position: absolute;
	  top: 88%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  font-family: 'Merriweather', serif!important;
	  font-size: 2em;
		text-align: center; 
		margin: 0px auto;
		color: black; 
		text-shadow: -1px 0 #B7CADB, 0 1px #B7CADB, 1px 0 #B7CADB, 0 -1px #B7CADB;
	}

	.iconlanguage_01 {
		position: absolute;
		top: 10px;
		right: 40px!important;
		padding-right: 0%!important;
		height: 25px!important;
		width: auto!important;
		margin: 0px auto;
	}

	.iconlanguage_02 {
		position: absolute;
		top: 10px;
		right: 10px!important;
		padding-right: 0%!important;
		height: 25px!important;
		width: auto!important;
		margin: 0px auto;
	}
	/*/*/

.imgvertindex {
	max-height: 800px!important;
	max-width: auto;
	border-radius: 5px;
	max-width: 100%;
	height: auto;
}

	/*per togliere controls in video index*/
	video::-webkit-media-controls {
	  display: none;}

	video::-webkit-media-controls-play-button {}

	video::-webkit-media-controls-volume-slider {}

	video::-webkit-media-controls-mute-button {}

	video::-webkit-media-controls-timeline {}

	video::-webkit-media-controls-current-time-display {}
	/**/


#iconindexarticle {
	position: absolute;
	height: 90px!important;
	width: auto!important;
	right: 10%;
}

#iconindexvideo {
	position: absolute;
	height: 80px!important;
	width: auto!important;
	left: 10%;
}

#iconindexfoto {
	position: absolute;
	height: 90px!important;
	width: auto!important;
	right: 10%;
}

.iconindexcv {
		height: 70px!important;
		width: auto!important;
	}
/*/*/




/* ABOUT.HTML */

.imgfotopagestop {
	max-height: 250px; 
	max-width: auto; 
	display: auto;
	margin-left: auto; 
	margin-right: auto;
	/*border-radius: 25px;*/
	/*filter: grayscale(50%);*/
	opacity: 1.0;
	max-width: 100%;
	height: auto;
}
	/* icona della pagina contatti è 70px (.icononblack 90px) */
	.iconcontact {
		height: 70px!important;
		width: auto!important;
	}
	/*/*/

.iconcontatti {
	height: 50px!important;
	width: auto!important;
}
	/* icona mail è 40px (.iconcontatti 50px) */
	.iconcontattismall{
		height: 40px!important;
		width: auto;
	}
	/*/*/

	/* icona ig e map sono 60px (.iconcontatti 50px) */
	.iconcontattibig {
		height: 60px;
		width: auto;
	}
	/*/*/
/*/*/




/* COLORED LINK */

.whitelink {
	text-decoration: none!important; 
	color: white!important;
}

.greylink {
	text-decoration: none!important; 
	color: rgb(105, 105, 105);
	/*border: 2px solid #4CAF50;*/
}

	.greylink:hover {
		text-decoration: none; 
		color: black; 
		transition: color 0.25s ease-in-out;
	}

	.greylinkstop {
		text-decoration: none; 
		color: rgb(105, 105, 105)}

.blacklink {
	text-decoration: none!important; 
	color: black!important;
}




/* IMAGES */

.imgfotopage {
	max-height: 250px; 
	max-width: auto; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	/*border-radius: 25px;*/
	/*filter: grayscale(50%);*/
	opacity: 1.0;
	/* per rendere le foto responsive alla dimensione dello schermo */
	max-width: 100%;
	height: auto;
	/*/*/
}

.imgfotopage:hover {
	opacity: 0.8; /*filter: grayscale(0%);*/
	transition: opacity .25s ease-in;
	transition: opacity .25s ease-out!important;
	transform: scale(1.03);
	transition: .25s ease;
	transition: .25s ease-out!important;
}
/*/*/




/* VIDEO */

iframe {
	max-width: 100%;
	max-height: 100%;
}
/*/*/




/* FOOTER */

.footer {
	background-color: #B7CADB ;
	position: absolute!important;
   bottom:0!important;
   width: 100%;
   height: 100px;
 }

	/* per mettere il footer al bottom*/
	.page-container{
		position: relative;
		min-height: 100vh;
	}

	body {
	  position: relative;}

	body::after {
	  content: '';
	  display: block;
	  height: 100px; /* Set same as footer's height */}
	/*/*/


.iconfooter {
	height: 35px;
	width: auto;
}

.iconfooterbig {
	height: 40px;
	width: auto;
}
/*/*/


/* COPYRIGHT */

main h6 {

}

.imgcopyright {
	max-height: 250px; 
	max-width: 313px; 
	display: auto;
	margin-left: auto; 
	margin-right: auto;
	/*border-radius: 25px;*/
	/*filter: grayscale(50%);*/
	opacity: 1.0;
	max-width: 100%;
	height: auto;
}
/*/*/







